/* ------------------------------------------
             Srifty
------------------------------------------ */

@font-face {
    font-family: "Serif";
    src: url("fonts/DMSerifDisplay-Regular.ttf") format("truetype");
}



/* ------------------------------------------
             Spolocne styly
------------------------------------------ */

body{
    font-family: "Serif";
    background-color: rgb(251, 249, 222);
    font-size: 16px;
}

.container{
    padding: 0;
    margin: 0 auto;

    width: 1000px;

    background-color: rgb(255, 250, 200);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

a{
    text-decoration: none;
    color:black;
}

p{
    text-indent: 15px;
}

/* ------------------------------------------
                 Hlavicka
------------------------------------------ */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 50px;
    margin: 0;


    background-color: rgb(255, 192, 216);

}

.logo-things{

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
    

}

.logo{
    width: 50px;
    border-radius: 50%;
}

.logo-text{
    font-style: italic;
}

.slogan{
    font-size: 26px;
    font-style: italic;
    text-shadow: 2px 5px 10px rgb(181, 37, 101);

}


/* ------------------------------------------
                    Obsah
------------------------------------------ */

/*- Navigacia -*/
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 15px 200px;

    background-color: rgb(255, 226, 237);


}

.nav-link{
    transition: all 0.5s;
}

.nav-link:hover{
    font-size: 18px;
    color: rgb(181, 37, 101);


}

.current-page{
    font-size: 18px;
    color: rgb(181, 37, 101);
}


/*- Sekcia "Who am I" -*/

.whoami{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;

    margin: 0;
    padding: 30px 0;

    max-width: 900px;

}

.myfoto{
    margin-left: 20px;

    max-width: 250px;
    width: 100%;

    border:2px solid white;
    border-radius: 25% 0;

    transition: all 0.3s;

}

.myfoto:hover{
    max-width: 280px;
}

.whoami-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px 50px;
    margin-right: 20px;

    background-color: aliceblue;
    opacity: 0.7;

}

.title-whoami{
    margin: 16px 0;
}

.text-whoami{

}


/*- Sekcia "Karticky" -*/

.hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;

    padding-bottom: 40px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   // padding: 10px 10px;

    background-color: aliceblue;
    border-radius: 5%;
    box-shadow: 10px 10px 10px grey;

}

.card:hover .image-card{
    width: 220px;
    height: 220px;

}

.image-card{
    width: 200px;
    height: 200px;
    
    object-fit: cover;  /* aby obrazok neplyl */

    border-radius: 5% 5% 0 0;

    transition: all 0.3s;

}

.text-card{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;

}

.title-card{
    margin-bottom: 0;

}

.desc-card{
    max-width: 180px;

    text-indent: 0;
    text-align: center;

}

/*- Sekcia "Moje ciele" -*/

.mytargets{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;

    width: 860px;

    background-color: aliceblue;
    border-radius: 10px;

}

.img-target{
    max-width: 200px;
    width: 100%;

    margin: 0 50px;

    border: 7px solid black;
    border-radius: 100px;
    box-shadow: 0 0 5px rgb(255, 236, 130);

    transition: all 0.3s;

}

.img-target:hover{
    max-width: 220px;
    box-shadow: 0 0 70px rgb(255, 236, 130);

}

.conteiner-targets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //margin: 30px;
    width: 450px;

}

.title-targets{
    font-size: 50px;
    
}

.targets{

}

.target{
    font-size: 20px;
    line-height: 5;

}

#cooking {
    list-style-image: url("../icons/books.svg");
}

#romane{
    list-style-image: url("../icons/pot.svg");
}

#programing{
    list-style-image: url("../icons/javascript.svg");
}

/*- Sekcia "Citata" -*/

.quote-aside{
    margin: 30px 0;

    width: 855px;

    background-color: aliceblue;

    border-left: 5px solid rgb(181, 37, 101);

    opacity: 0.7;

}

.quote-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-quote{
    margin: 0;

    font-size: 26px;
    color: black;
    text-indent: 0;

    text-align: center;
}

.author-quote{
    text-align: end;
    font-size: 16px;
    color: rgba(46, 46, 46, 0.705);
}

.quotes{
    font-size: 40px;
    color:rgb(181, 37, 101);

}

.close-quote{
    text-align: end;

}





/* ------------------------------------------
                   Stopicka
------------------------------------------ */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 0;

    background-color: rgb(255, 192, 216);

}

.container-footer{

    width:860px;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;

}

.email-footer:hover{
    color: rgb(181, 37, 101);
    
}

.phone-footer:hover{
    color: rgb(181, 37, 101);

}

.year-footer{
    font-size: 14px;
    margin: 0;
    text-align: center;
}
