body {
    font-family: Arial, sans-serif;
    background-color: #fff7d2;
    margin: 0;
}

header {
    background-color: #ff9bc6;
    color: white;
    padding: 15px;
    text-align: center;

}

header h1{
    opacity:1;
}

main {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
}

section {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}

img {
    width: 300px;
    max-width: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
}